/* Base Style */
* {
  box-sizing: border-box;
}

:root {
  --white: #f4f4f4;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 40px;
}

/* Utilities */
.lower-left-shadow {
  box-shadow: -15px 15px 0px 0px blue;
}

.upper-right-shadow {
  box-shadow: 15px -15px 0px 0px yellow;
}

/* Header */
.hero {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

@media (min-width: 900px) {
  .hero {
    max-width: 75%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.hero-description {
  padding: 5%;
  border: 5px solid black;
  width: 40%;
  min-width: 200px;
}

@media (min-width: 900px) {
}

.hero-img {
  width: 300px;
  height: 300px;
  background-color: black;
}

/* About */
.about {
  width: 70%;
  margin: 0 auto;
  padding: 5%;
  border: 5px solid black;
}
